In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("nba.csv")
df.shape
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [16]:
df.isnull()
df.isnull().sum()
# ((df.isnull().sum())/df.shape[0])*100
# df.info()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College      0
Salary      12
dtype: int64

In [ ]:
df.fillna(method="bfill") #backward filling
df.fillna(method="ffill") #forward filling
df["College"].fillna(df["College"].mode()[0] ,inplace=True)# mode filling techniqe
df["College"]
df.columns #all columns in dataframe

C:\Users\SHUBHAM JADHAV\AppData\Local\Temp\ipykernel_15256\923949375.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill") #backward filling
C:\Users\SHUBHAM JADHAV\AppData\Local\Temp\ipykernel_15256\923949375.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill") #forward filling

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [ ]:
for i in df.select_dtypes(include="object").columns:
    df[i].fillna(df[i].mode()[0] ,inplace=True)  # mode filling techniqe for all object type columns datafraame

C:\Users\SHUBHAM JADHAV\AppData\Local\Temp\ipykernel_15256\1049119091.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0] ,inplace=True)# mode filling techniqe for all datafraame

In [20]:
df.isnull().sum()

Name         0
Team         0
Number       1
Position     0
Age          1
Height       0
Weight       1
College      0
Salary      12
dtype: int64