In [45]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [46]:
df=pd.read_csv("ml1.csv")
df

   name   age   salary      city
0  sham  20.0  35000.0      pune
1  shub  19.0  67000.0     mubai
2   ram   NaN   7800.0       NaN
3   abc  20.0      NaN      pune
4   NaN  20.0   4500.0  kolhapur

In [47]:
df.isnull().sum()

name      1
age       1
salary    1
city      1
dtype: int64

In [48]:
# df.fillna(method="ffill")
# df.fillna(method="bfill")
# df

In [49]:
df["city"].fillna(df["city"].mode()[0],inplace=True)
df["name"].fillna(df["name"].mode()[0],inplace=True)
df["age"].fillna(df["age"].mode()[0],inplace=True)
df["salary"].fillna(df["salary"].mode()[0],inplace=True)

C:\Users\SHUBHAM JADHAV\AppData\Local\Temp\ipykernel_10564\4010117361.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["city"].fillna(df["city"].mode()[0],inplace=True)
C:\Users\SHUBHAM JADHAV\AppData\Local\Temp\ipykernel_10564\4010117361.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["name"].fillna(df["name"].mode()[0],inplace=True)
C:\Users\SHUBHAM JADHAV\AppData\Local\Temp\ipykernel_10564\4010117361.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].mode()[0],inplace=True)
C:\Users\SHUBHAM JADHAV\AppData\Local\Temp\ipykernel_10564\4010117361.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["salary"].fillna(df["salary"].mode()[0],inplace=True)

In [50]:
df

   name   age   salary      city
0  sham  20.0  35000.0      pune
1  shub  19.0  67000.0     mubai
2   ram  20.0   7800.0      pune
3   abc  20.0   4500.0      pune
4   abc  20.0   4500.0  kolhapur

In [51]:
from sklearn.preprocessing import OneHotEncoder

In [52]:
ohe=OneHotEncoder()
new_df=df[["city"]]
new_df
ar=ohe.fit_transform(new_df).toarray()
ar

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.]])